@layer {
    [data-textPreset="1"] {
        font-family: var(--ff-nunito);
        font-weight: var(--fw-extrabold);
        font-size: var(--fs-52-64);
        line-height: var(--lh-110);
        letter-spacing: var(--ls-neg-200);

        @media screen and (min-width: calc(768 / 16 * 1rem)) {
            font-size: var(--fs-64-72);
        }
    }

    [data-textPreset="2"] {
        font-family: var(--ff-nunito);
        font-weight: var(--fw-extrabold);
        font-size: var(--fs-40-48);
        line-height: var(--lh-120);
        letter-spacing: var(--ls-neg-200);
    }

    [data-textPreset="3"] {
        font-family: var(--ff-nunito);
        font-weight: var(--fw-bold);
        font-size: var(--fs-32);
        line-height: var(--lh-130);
        letter-spacing: var(--ls-neg-100);
    }

    [data-textPreset="4"] {
        font-family: var(--ff-nunito);
        font-weight: var(--fw-bold);
        font-size: var(--fs-24);
        line-height: var(--lh-130);
        letter-spacing: var(--ls-neg-100);
    }

    [data-textPreset="5"] {
        font-family: var(--ff-nunito);
        font-weight: var(--fw-bold);
        font-size: var(--fs-20);
        line-height: var(--lh-140);
        letter-spacing: var(--ls-neg-050);
    }

    [data-textPreset="6"] {
        font-family: var(--ff-nunito-sans);
        font-weight: var(--fw-medium);
        font-size: var(--fs-20);
        line-height: var(--lh-150);
        letter-spacing: var(--ls-neg-040);
    }

    [data-textPreset="7"] {
        font-family: var(--ff-nunito-sans);
        font-weight: var(--fw-semibold);
        font-size: var(--fs-18);
        line-height: var(--lh-150);
        letter-spacing: var(--ls-neg-030);
    }

    [data-textPreset="8"] {
        font-family: var(--ff-nunito-sans);
        font-weight: var(--fw-bold);
        font-size: var(--fs-16);
        line-height: var(--lh-150);
        letter-spacing: var(--ls-neg-030);
    }

    [data-textPreset="9"] {
        font-family: var(--ff-nunito-sans);
        font-weight: var(--fw-medium);
        font-size: var(--fs-16);
        line-height: var(--lh-150);
        letter-spacing: var(--ls-neg-030);
    }

    [data-textPreset="10"] {
        font-family: var(--ff-nunito-sans);
        font-weight: var(--fw-bold);
        font-size: var(--fs-14);
        line-height: var(--lh-150);
        letter-spacing: var(--ls-neg-030);
    }
}
